service: notenest-note-service

provider:
  name: aws
  runtime: nodejs20.x
  region: us-east-1
  environment:
    NOTES_TABLE: NoteNestNotesTable
  
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:PutItem
        - dynamodb:GetItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
      Resource:
        - arn:aws:dynamodb:us-east-1:543453960196:table/NoteNestNotesTable

functions:
  notes:
    handler: handler.handler
    events:
      - http:
          path: notes
          method: post
      - http:
          path: notes/{id}
          method: get
      - http:
          path: notes/{id}
          method: put
      - http:
          path: notes/{id}
          method: delete

resources:
  Resources:
    NotesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: NoteNestNotesTable
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH